body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.site-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    list-style: none;
}

.site-navigation .current-page {
    color: #ada19a;
}

.site-navigation a:hover,
.hotel-title a:hover {
    color: #81b3b2;
}

.site-navigation a:active,
.hotel-title a:active {
    color: #b2b2b2;
}

.site-navigation a,
.hotel-title a {
    color: #000000;
}

.homepage-welcome {
    text-align: center;
    background: url("../img/sedona-view.jpg") no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

.homepage-welcome::after {
    content: "";
    display: block;
    width: 1200px;
    height: 57px;
    background: url("../img/sedona-background.png");
    position: absolute;
    bottom: 0;
    left: 0;
}

.homepage-teaser,
.homepage-booking,
.homepage-feature-list-text,
.homepage-details-bonus,
.homepage-feature-item,
homepage-booking-form-number {
    text-align: center;
}

.homepage-teaser-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.homepage-feature-list-text {
    color: #ffffff;
    background-color: #81b3b2;
}

.homepage-feature-list-title,
.homepage-details-title {
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
}

.homepage-feature-list-point,
.homepage-feature-list-descr,
.homepage-details-descr {
    font: inherit;
    line-height: 21px;
}

.homepage-details-title,
.footer-label,
.footer-copyright {
    color: #000000;
}

.homepage-feature-item {
    background-color: #eeeeee;
}

.homepage-booking-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.homepage-booking-form-control,
.homepage-booking-form-control input[type="text"] {
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    border: none;
}

.homepage-booking-form-control input[type="text"] {
    text-align: center;
}

::-webkit-input-placeholder {
    color: #000000;
}

:-moz-placeholder {
    color: #000000;
}

::-moz-placeholder {
    color: #000000;
}

:-ms-input-placeholder {
    color: #000000;
}

.homepage-booking-form-control input {
    background-color: #f2f2f2;
}

.homepage-booking-form-control input:hover {
    background-color: #ebebeb;
}

.homepage-booking-form-control input:focus {
    background-color: #ffffff;
}

.homepage-booking-btn,
.homepage-booking-form-btn {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    border: none;
}

.homepage-booking-button .homepage-booking-btn,
.hotel-details-reserve .hotel-details-btn-grey {
    color: #ffffff;
    background-color: #766357;
}

.homepage-booking-button .homepage-booking-btn:hover,
.hotel-details-reserve .hotel-details-btn-grey:hover {
    color: #ffffff;
    background-color: #604e43;
}

.homepage-booking-button .homepage-booking-btn:active,
.hotel-details-reserve .hotel-details-btn-grey:active {
    color: #847870;
    background-color: #503e33;
}

.homepage-booking-form-btn,
.hotel-details-reserve .hotel-details-btn,
.footer-social-btn a {
    color: #ffffff;
    background-color: #81b3b2;
}

.homepage-booking-form-btn:hover,
.hotel-details-reserve .hotel-details-btn:hover,
.footer-social-btn a:hover {
    color: #ffffff;
    background-color: #669ec0;
}

.homepage-booking-form-btn:active,
.hotel-details-reserve .hotel-details-btn:active,
.footer-social-btn a:active {
    color: #87b6d1;
    background-color: #6496bd;
}

.filter-form {
    text-align: center;
    background: url("../img/sedona-view.png") no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.filter-title {
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
}

.filter-checkbox,
.filter-cost-day-block,
.filter-cost-day-block input,
.filter-cost-day-btn {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    background: transparent;
    list-style: none;
}

.filter-cost-day-btn:hover {
    background-color: #ffffff;
}

.hotel-type,
.hotel-floor-price {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: inherit;
}

.result-title,
.hotel-title,
.footer-label {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.hotel-details-reserve {
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
}

.hotel-details-reserve .hotel-details-btn-grey {
    background-color: #766357;
}

.hotel-raiting-text {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #666666;
    background-color: #f2f2f2;
}

.sorting-form,
.result-main,
.main-footer {
    background-color: #fefefe;
}

.sorting-title,
.result-header-sort-list {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
}

.result-header-sort-list,
.result-header-sorting,
.footer-social-btn {
    list-style: none;
}

.result-header-sort-list a {
    color: #d0d0d0;
}

.result-header-sort-list a:hover {
    color: #81b3b2;
}

.result-header-sort-list a:active {
    color: #000000;
}

.active a {
    color: #81b3b2;
}